/** 유저 프로필창 css */
#popup_profile {
	position: absolute;
	width: 267px;
	background-color: #ffffff;
	z-index: 10;
	padding: 20px; 
	border: 1px solid #212121;
	margin-left: 50px;
}

#popup_profile .remove { 
	position: absolute;
	top: 15px; 
	right: 15px;
	font-size: 20px;
	cursor: pointer;
}